@import 'vars';
// --- headings --- //


h1,h2,h3{
  &.lg-heading{
    font-size: 6rem;
    font-family: 'Anton';
  }
  &.sm-heading{
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(($sm-heading-bg), 0.5);
    width: 45%;
  }
}


a{
  color: $links-c;
}

.header{
  position: fixed;
  @include z(nav);
  width: 100%;
}

.text-secondary{
  color: $secondary-c;
}