
 //---- RESPONSIVENESS ---//
@mixin mediaSm {
    @media screen and (max-width: 500px){
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px){
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px){
        @content;
    }
}

@mixin mediaXL {
    @media screen and (min-width: 1171px){
        @content;
    }
}

//--- Z-INDEX ---//
$z-index: (
  nav:     2,
  overlay: -1,
  popup:   4,
  menuBtn: 3
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z($key) {
    z-index: z-index($key);
}
//---- PSEUDOELEMENTS -----//
@mixin ps($display: block, $pos: absolute, $content: ''){
    display: $display;
    position: $pos;
    content: $content;
}

// ---- CENTER (VERTICAL and HORIZONTAL)---- //
@mixin vert{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

//---- TRANSITIONS -----//

@mixin easeOut {
    transition: all .5s ease-out;
}

// --- ICONS --- //
@mixin iconsHover{
    transition: all .3s ease-out;
    transform: rotateY(360deg);
}

//---- BACKGROUND -----//
@mixin background{
     @if $show-home-img{
         &#bg-img{
             background: $home-img;
             background-attachment: fixed;
             background-size: cover;
             background-repeat: no-repeat;
             &::after{
               content:'';
               position: absolute;
               top: 0;
               right: 0;
               width: 100%;
               height: 100%;
               background: rgba($primary-c,$background-opacity);
               @include z(overlay);
            }
         }
     }
}

// ----- menuBtn ----- //
@mixin menuBtnPos{
    right: $menuBtnRight;
    top: $menuBtnTop;
    position: absolute;
}

// --- menuBtnLines -- //
@mixin btnLine{
    width: $btnMenuLineWidth;
    height: $btnMenuLineHeight;
    margin: $btnMenuMargin;
    background: set-text-color($primary-c);
}

// --- menu overlay --- //
@mixin menuOverlay{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: .9;
    visibility: hidden;
}

//  --- portrait sizes -- //
@mixin portrait{
    width: 250px;
    height: 250px;
    border: 4px solid $secondary-c;
    border-radius: 50%;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 50px 15px rgba(0,0,0,.5);
}