
 //---- RESPONSIVNESS ---//
 $breakpoints: (
    "phone":        400px,
    "phablet":      560px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

//--- Z-INDEX ---//
$z-index: (
  nav:     100,
  overlay: 200,
  popup:   300
);

@function z-index($key) {
  @return map-get($z-index, $key);
}
//---- PSEUDOELEMENTS -----//
@mixin ps($display: block, $pos: absolute, $content: ''){
    display: $display;
    position: $pos;
    content: $content;
}

// ---- CENTER (VERTICAL and HORIZONTAL)---- //
@mixin vert{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

// ---- LETTER SPACING ---- //
@mixin ls ($spacing){
  letter-spacing: $spacing;
  margin-right: -$spacing;
 }
}

