// ---- MENU BUTTON ---- //

.menu-btn{
  @include menuBtnPos;
  @include z(menuBtn);
  @include easeOut;
  cursor: pointer;

  .btn-line{
    @include btnLine;
    @include easeOut;
  }
  // Rotation
  &.close{
    transform: rotate(180deg);

    .btn-line{
      // rotate
      &:nth-child(1){
        transform: rotate(45deg) translate(5px, 5px);
        background-color: $secondary-c;
      }
      // hide
      &:nth-child(2){
       visibility: hidden;
      }
      // rotate
      &:nth-child(3){
        transform: rotate(-45deg) translate(7px, -6px);
        background-color: $secondary-c;
      }
    }
  }
}