// --------------------- COLORS ----------------------- //
$primary-c: #161616;
$h1-c: #fff;
$sm-heading-bg: lighten(#444, 2);
$paragraph-c: rgb(116, 116, 116);
$links-c: #fff;
$secondary-c: #ffc600;
// --- work --- //
$btnDark-c: #fff;
$btnLight-c: #333;
// --- contact --- //
$btnSend-bg: transparent;
// -------------- BACKGROUNDS & BACKGROUND IMAGES -------------- //
// --- HOME ---//
$show-home-img: true;
$home-img: url('../../dist/assets/img/main_bg/index-bg.png');
$home-img-md: url('../../dist/assets/img/main_bg/main-m.png');
$home-img-sm: url('../../dist/assets/img/main_bg/main-sm.png');
$background-opacity: .5;
// ---- WORK --- //
$work-img: url('../../dist/assets/img/work_bg/work-bg.png');
$portrait: url('../../dist/assets/img/portrait-onsite.png');
// --- ABOUT --- //
$about-img: url('../../dist/assets/img/rest_bg/rest-medium.png');
// --- CONTACT --- //
$contact-img: url('../../dist/assets/img/cntact_bg/contact-large.png');
$rodo-bg: rgba(0, 0, 0, 0.76);
$rodo-paragraph: rgb(155, 155, 155);
//  --- card ---- //
$body-bg: #151825;
$font-c: #ddd;
$secondary-c: #ffc600;
$fz: 1.2em;
$h1-c:#ffc600;
$inputBackground:transparent;
$inputBorder-c: #fff;
$contact-card-shd: 0 0 100px 15px rgba (0,0,0,.5);
//  --- BACKGROUNDS --- //
$card-bg: transparent;
$thx-card-bg: #000;
$front-bg: #0c1024;
// ------------------ SIZES --------------------- //
// --- Menu button -- //
$menuBtnRight: 35px;
$menuBtnTop: 35px;
$btnMenuLineWidth: 28px;
$btnMenuLineHeight: 3px;
$btnMenuMargin: 0 0 5px 0;
$btnMenu-bg: #fff;
$navLinkSize: 2.5rem;

// --- footer --//
$footerHeight: 60px;
