// ----- FONT IMPORTS ----- //
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,500,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Anton&subset=latin-ext');
// ------- PAGES IMPORTS ------ //
// -- index -- //
@import "vars";
@import "reset";
@import "mixins";
@import "functions";
@import "nav";
@import "header";
// -- About -- //
@import "./About/_footer-about.scss";
@import './About/_main-about.scss';
// -- Work -- //
@import './Work/_main-work.scss';
@import './Work/_buttons-work.scss';
// -- Contact -- //
@import './Contact/_contact.scss';
@import './Contact/_contact-card.scss';


body {
  @include background;
  background: $primary-c;
  color: set-text-color($primary-c);
  height: 100%;
  font-family:'Raleway', Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
  line-height: 1.5;
}

main{
  padding: 1rem 4rem;
  min-height: calc(100vh - 60px);

  .icons{
    margin-top: 1rem ;
    a{
      padding: 0.4rem;

      &:hover{
        color: $secondary-c;
        @include easeOut;
      }

    .fab{
      &:hover{
       @include iconsHover;
      }
     }
    }
  }

  &#home{
    overflow: hidden;
    margin-left: 20%;
    h1{
      margin-top: 20vh;
    }
  }
}

// ---- RESPONSIVE IMPORTS ---- //
@import 'mobile';
@import './About/_about-mobile.scss';
@import './Work/_mobile-work.scss';
@import './Contact/_contact.scss';