#contact-bg-img{
  background-image: $contact-img;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
}

.contact-wrapper{
  display:flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 100%;
  height: 100vh;

  .contact-box{
    width: 50%;
    height: 100vh;    
  }

  .contact-box-2{
    background: #000;
  }
}

